---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.jsx'
import Footer from '../components/Footer.jsx'
import HomePage from '../components/HomePage.jsx'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      href='https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <Header client:load />
    <HomePage />
    <Footer client:load />
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/'
            })
          }
        })
      }
    </script>
  </body>
</html>
